{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
    <title>Crispy: The recipe sharing app</title>
</head>
<body>

<header>
    {% include 'common/nav.html' %}
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>
        &copy; Created by Nikolay Dimitrov. All rights reserved.
    </p>
</footer>

</body>
</html>