{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>Crispy: The recipe sharing app</title>
</head>
<body>

<header>
    <a class="logo" href="{% url 'home' %}">
        <img src="{% static 'images/crispy.png' %}" alt="Crispy">
    </a>
    {% include 'common/nav.html' %}
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>
        &copy; Created by Nikolay Dimitrov. All rights reserved.
    </p>
</footer>

</body>
</html>