{% load static %}

<nav>
    <ul>
        <li class="nav-align-left">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="#">Latest</a>
        </li>
        <li>
            <a href="#">Trending</a>
        </li>
        
        {% if request.user.is_authenticated %}
            <li>
                <a href="#">My Recipes</a>
            </li>
            <li>
                <a href="#">Meal Plan</a>
            </li>
            <li class="nav-align-right">
                <a href="{% url 'profile-details' request.user.pk %}">Profile</a>
            </li>
            <li class="nav-align-right">
                <a id="logout-a" href="#">Logout</a>
            </li>
        {% else %}
            <li class="nav-align-right">
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-align-right">
                <a href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
    </ul>

<form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none">
    {% csrf_token %}
</form>

</nav>

<script src="{% static 'js/accounts/logout.js' %}"></script>