header nav {
    background-color: #dbc235;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style: none outside;
}

header nav ul a {
    text-decoration: none;
    color: #3a4472;
    padding: 0.5em 0.8em;
    font-weight: bold;
    &:hover {
        color: #fff;
        background-color: #b49c11;
    }
}