body {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body * {
    /* border: 1px solid green; */
}

body > main {
    flex-grow: 1;
}

.img-frame {
    width: 200px;
    height: 200px;
}