<div class="recipe-card" id="{{ recipe.pk }}">
    
    <h2>{{ recipe.title }}</h2>
    <p>{{ recipe.description }}</p>
    <p>{{ recipe.instructions }}</p>
    
    {% for ingredient, quantity in recipe.ingredients.items %}
        <p>{{ ingredient }} - {{ quantity }}</p>
    {% endfor %}
    
    <div>
        {% for tag in recipe.tags.all %}
            <a href="#">#{{ tag.name }}</a>
        {% endfor %}
    </div>
    <p>Created by: 
        {% if recipe.author %}
            <a href="{% url 'profile-details' recipe.author.pk %}">{{ recipe.author.full_name }}</a></p>
        {% endif %}
    <a href="{% url 'recipe-details' recipe.pk %}">See more</a>
    
    <div class="likes">
        <a href="#"
            {% if recipe.is_liked %}
                class="liked"
            {% endif %}
        >
            {% if recipe.is_liked %}
            Liked
            {% else %}
            Like
            {% endif %}
        </a>
        <span>{{ recipe.likes.count }} likes</span>
    </div>
</div>