{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <article class="recipe recipe-page" id="{{ recipe.pk }}">
        <h1>{{ object.title }}</h1>
    
        {% if object.gallery.pictures.exists %}
            <section class="gallery">
            
                <div class="focus-picture">
                    {% if object.main_picture %}
                        <img src="{{ object.main_picture.image.url }}" alt="{{ object.title }}">
                    {% else %}
                        <img src="{{ object.gallery.pictures.first.image.url }}" alt="{{ object.title }}">
                    {% endif %}
                </div>
            
                <div class="thumbnails">
                    {% for picture in object.gallery.pictures.all %}
                        <div class="thumbnail">
                            <img src="{{ picture.image.url }}" alt="{{ object.title }}">
                        </div>
                        
                    {% endfor %}
                </div>
            
            </section>
        {% endif %}
    
        <div>
            {% for tag in object.tags.all %}
                <a class="tag" href="#">#{{ tag }}</a>
            {% endfor %}
        </div>
        
        {% if object.description %}
            <h4>Description</h4>
            <p>{{ object.description }}</p>
        {% endif %}
        
        <h4>Instructions</h4>
        <p>{{ object.instructions }}</p>
        
        {% if object.ingredients %}
            <h4>Ingredients:</h4>
            <div>
            {% for ingredient, quantity in object.ingredients.items %}
                <p>{{ ingredient }}: {{ quantity }}</p>
            {% endfor %}
            </div>
        {% endif %}

        
        {% if object.author == request.user %}
        <div class="buttons">
            <a class="button take-action" href="{% url 'edit-recipe' object.pk %}">Edit</a>
            <a class="button take-action" href="{% url 'delete-recipe' object.pk %}">Delete</a>
        </div>
        {% endif %}
        
        <div class="likes">
            <a href="#"
                {% if recipe.is_liked %}
                    class="liked"
                {% endif %}
            >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
            </a>
            <span class="likes-count">{{ recipe.likes.count }} likes</span>
        </div>
        
        {% if request.user.is_authenticated %}
            <form id="send-ingredients-form" method="post" action="{% url 'ingredients-to-shopping-list' request.user.shoppinglist.pk recipe.pk %}">
                {% csrf_token %}
                <a class="button take-action" href="#" onclick="document.getElementById('send-ingredients-form').submit()">Ingredients to Shopping List</a>
            </form>
        {% endif %}
    
    </article>
    
    <div class="comments">
        <h4>Comments:</h4>
    
        {% for comment in object.comments.all %}
            <div class="comment">
                <p>Posted by {{ comment.author.full_name }} on {{ comment.created_at }}</p>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    
        <form class="comment-form" method="post" action="{% url 'add-comment' object.pk %}">
            
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button class="button take-action" type="submit">Post Comment</button>
            
        </form>
    
    </div>
    
    <script src="{% static 'js/common/like-unlike.js' %}"></script>
    
    <script>
    const focusDivElement = document.querySelector('.focus-picture');
    const thumbnailElements = document.querySelectorAll('.thumbnail');
    
    thumbnailElements.forEach(element => element.addEventListener('click', (e) => movePicture(e, element, focusDivElement)));
    
    function movePicture(event, thumbnailElement, focusDivElement) {
        const thumbnailImgElement = thumbnailElement.querySelector('img');
        const focusImgElement = focusDivElement.querySelector('img');
        
        focusImgElement.src = thumbnailImgElement.src;
    }
    </script>
    
{% endblock %}