.recipe-card {
    border: 1px solid #6374be;
    overflow: hidden;
    width: 100%;
    margin: 1.5em auto;
    padding: 0.5em;
    & > * {
        margin-bottom: 1em;
    }
    & {
        @media (min-width: 600px) {
            width: 100%;
        }
        @media (min-width: 1000px) {
            width: 50em;
        }
    }
}
