{% extends 'common/base.html' %}

{% block content %}
<div>
    {% if object.profile.gallery.pictures.get_main %}
        <div>
            <div class="img-frame">
            {% load cloudinary %}
            {% cloudinary object.profile.gallery.pictures.get_main.image quality='auto' width=200 height=200 crop='pad' background='gen_fill:ignore-foreground_true' %}
            </div>
            {% if request.user == object %}
                <a href="{% url 'delete-picture' object.profile.gallery.pictures.get_main.pk %}">Delete Picture</a>
            {% endif %}
        </div>
    {% endif %}

    <p>Email: {{ object.email }}</p>
    <p>First Name: {{ object.first_name }}</p>
    <p>Last Name: {{ object.last_name }}</p>
    <p>Date Joined: {{ object.date_joined }}</p>
    
    {% if object.profile.about_me %}
        <p>About me:</p>
        <p>{{ object.profile.about_me }}</p>
    {% endif %}
</div>
    
{% if object == request.user %}
    <div>
        <a href="{% url 'edit-profile' object.pk %}">Edit Profile</a>
        <a href="{% url 'delete-account' object.pk %}">Delete Profile</a>
    </div>
{% endif %}
    
{% endblock %}