<div id="ingredients-container">

    {% for product, quantity in shopping_list.products.items %}
        <div class="ingredient-row">
            <input type="text" name="ingredient_name" placeholder="Product name" value="{{ product }}">
            <input type="text" name="ingredient_quantity" placeholder="Quantity" value="{{ quantity }}">
            <button type="button" class="remove-ingredient reject">Remove</button>
        </div>
    {% endfor %}

</div>
<button class="take-action" type="button" id="add-ingredient">Add Product</button>
<input type="hidden" name="ingredients_json" id="ingredients-json">
