.buttons {
    display: flex;
    gap: 1em;
}

button,
.button {
    padding: 0.8em 1.2em;
    border-radius: 0.5em;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

.confirm {
    background-color: #3da713;
    color: #fff;
    &:hover {
        background-color: #327c14;
    }
}

.reject {
    background-color: #db2323;
    color: #fff;
    &:hover {
        background-color: #aa2020;
    }
}

.info {
    background-color: green;
    color: #fff;
    &:hover {
        background-color: yellowgreen;
    }
}

.take-action {
    background-color: #2442c5;
    color: #fff;
    &:hover {
        background-color: #031e97;
        color: #fff;
    }
}