{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    
    <form class="styled-form" id="products-form" method="post">
        {% csrf_token %}
        {% include 'shopping_list/products.html' %}

        <div class="buttons">
            <button class="confirm" type="submit">Save</button>
            <a class="button reject" href="{% url 'shopping-list-details' shopping_list.pk %}">Cancel</a>
        </div>
        
    </form>
    
    <script src="{% static 'js/shopping_list/products.js' %}"></script>

{% endblock %}